
    <div class="addPostBox d-flex flex-column justify-content-center align-items-center">
        <h2 class="fs-2 fw-bold">Add New Game</h2>
        <form class="add-post-form">
            <div class="form-group fw-bold">
                <label for="post-title" class="mb-1">Title:</label>
                <input class="form-control mb-4" type="text" id="post-title" name="post-title" required>
            </div>
            <div class="form-group fw-bold">
                <label for="post-description" class="mb-1">Description:</label>
                <textarea class="form-control mb-4" id="post-description" name="post-description" rows="5" required></textarea>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-dark fw-bold" type="submit">CREATE POST</button>
            </div>
        </form>
    </div>
    
<script src="./js/dashboard.js"></script>