* {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    /* font-family: "Kode Mono", sans-serif; */
}

nav {
    padding: 10px;
    background-color: rgb(255, 215, 166);
    font-size: 20px;
    /* font-weight: bold; */
}

.nav-link {
    color: black;
    padding-right: 40px;
}

.signUp,
.login {
    padding-top: 10%;
}

h2 {
    padding: 10px;
}

.form-control {
    width: 250px;
}

.addPost .btn {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.addPost {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.addPostBox{
    padding-top: 10%;
}

.add-post-form .form-control,
.comment-form .form-control {
    width: 500px;
}

.postMainBox {
    padding-top: 3%;
}
.postDetails {
   border: 2px solid black;
   width: 600px;
   border-radius: 15px;
   background-color:azure;
   padding: 10px;
}

.postDetails h1 {
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:rgb(145, 247, 247);
    border-radius: 15px;
}

.postDetails .date {
    font-size: 14px;
}

.commentBox {
    width: 600px;
}

.comment {
    border: 1px solid rgb(187, 183, 183);
    font-size: 14px;
    padding: 10px;
    border-radius: 15px;
    background-color:rgb(206, 247, 224) ;
}